$bc-color: rgb(209, 207, 207);
$bc-color-pink: #dc7979;
$color-title: rgb(47, 37, 37);
$mycolor: #f4f4f4;

$colorTitle: scale-color($color-title, $lightness: 10%, $alpha: -20%);

$button: #dc7979;
$buttonhover: #00b0b3;
