@import "./reset";
@import "./_variables.scss";
@import "./_colors.scss";
@import "./_mixins.scss";
@import "./spacing";

body {
  margin: $margin-0;
  padding: 0;
}

.container {
  max-width: 100%;
}
// -----navbar
.navbar {
  background-color: $bc-color-pink;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

  img {
    width: 150px;
    padding-left: 20px;
  }

  .nav-links {
    list-style: none;
    display: flex;
    li {
      padding-right: 20px;
      font-size: 2rem;
      color: $mycolor;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
          color: $buttonhover;
        }
      }
    }
  }
}

// hero

.hero {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 1s ease, transform 1s ease;
}

.hero.active {
  opacity: 1;
  transform: translateY(0);
}

.myHeader {
  background-color: $bc-color;
  text-align: center;
  padding: 100px 0;

  .titolo1 {
    @include title-big;
    color: $color-title;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mainImg {
    @include floating;
    float: left;
    margin-right: 20px;
    margin-left: 10px;
  }

  .description {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: $padding-1;
  }

  .buttons {
    margin-top: 20px;

    .btn {
      display: inline-block;
      background-color: #dc7979;
      color: #fff;
      border: none;
      padding: 10px 20px;
      margin: 0 10px;
      cursor: pointer;
      text-decoration: none;
      transition: transform 0.3s ease;

      &:hover {
        background-color: $buttonhover;
        transform: scale(1.1);
      }
    }

    .discover:hover {
      transform: scale(1.2);
    }

    .login:hover {
      transform: scale(1.1);
    }

    .contact:hover {
      transform: scale(1.1);
    }
  }
}

.contenitoreGriglia {
  @include griglia;
  .griglia img {
    width: 300px;
  }
}
